:root {
    --frosted-blue: #ACECF7;
    --pale-orange: #EBD2B4;
    --coral: #F4989C;
    --pale-purple: #DAC4F7;
    --frosted-mint: #D6F6DD;
}

@font-face {
    font-family: 'CustomFont';
    src: url(fonts/Impact\ Label.ttf);
}
@font-face {
    font-family: 'spacetime';    
    src: url(fonts/spacetime-regular.ttf);
}

#link-container{
    flex-direction: column;
    display: flex;
    width: 60%;
    align-items: center;
}


a {
    margin: 10px;
    border-color: var(--coral);
    border-width: 10px;
    border-style: ridge;
    padding: 30px;
    font-size: 63px;
    font-family:'CustomFont' ;
    color: var(--coral);
    background-color: white;
    text-align: center;
    text-decoration: wavy;
}

a:hover {
    color: white;
    background-color: var(--coral);
}

h1 {
    font-family: 'spacetime';
    font-size: 75px;
    text-align: center;
}

body{
    background-image: url(backgrounds/flowerbackground.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}