body {
    background-color: #FFF4E4  ;
}

h1 {
    background-color: #F7E8A4;
    font-family: Bigted, Arial, sans-serif;
}

h3 {
    background-color: #FF57BB;
    font-family: Arial, sans-serif;
}

p {
    background-color: #6EFAFB;
    font-family: Arial, sans-serif;
}

#container {
    width: 100%;
}

#text {
    width: 50%;
    float: left;
}

#image {
    width: 50%;
    float: right;
}

@font-face {
    font-family: "Bigted";
    src: url("Bigted.ttf");
}
