h1 {
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    padding: 5px;
    border: 2px, ridge, brown;
}
h2 {
    margin: 5px;
}

#link-container {
    flex-direction: column;
    display: flex;
}

#content-container{
    
    align-content: center;
    margin-left: 60%;
    margin-bottom: 40px;
    border: 7px, solid, black;
}

a {
    margin: 20px;
    margin-right: 70%;
    border: 5px, ridge, black;
}


