body {
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: 'star';
}
@font-face {
    font-family: 'star';
    src: url(../fonts/Stars-Regular.ttf);
}
body * {
    margin-left: 30px;
}

a {
    color: aqua;
    text-decoration: none;
}

a:hover {
    color: pink;
    text-decoration: underline;
}