#title {
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 0;
}
#door {
    position: absolute;
    top: 20%;
    left: 63%;
    width: 20%;
    height: 70%;
    z-index: 1;
}
/* 
#door:hover {
    background-image: url(opendooor);
} */